.allchat {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.border {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  height: calc(100% - 75px);
}

#WebChatFormForm {
  overflow: auto;
  height: 100%;
  width: 100%;
}

#chat-form {
    height: 35px;
    position: block;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10px;
}
#chat-form > * {
    flex: 1 0 auto;
}

#btn {
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 6px;
  resize: none;
  background-color: #f1f1f1;
}

#message-text {
  flex: 10 auto;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 6px;
  resize: none;
  height: 100%;
}

#nick {
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 6px;
  resize: none;
  height: 100%;
}

/* Chat containers */
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding-left: : 10px;
    margin: 5px 0;
}

.container > p {
  margin-left: 10px;
}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
    padding-right: 10px;
}
